UseTab: false
IndentWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: true
AlignConsecutiveBitFields: true
AlignTrailingComments: true 
AlignConsecutiveMacros: true
SpacesInParentheses: true
AllowShortBlocksOnASingleLine: true
IndentPPDirectives: BeforeHash
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: Align 
SortIncludes: false
IndentPPDirectives: AfterHash